DATABASE_URL="postgresql://postgres:postgres@localhost:5432/itlearn?sslmode=disable" # Update this with your actual database credentials
SECRET="" # Execute openssl rand -base64 32 to generate a new secret
APP_BASE_URL="http://localhost:3000" # Change this to your production URL when deploying
SMTP_HOST="smtp.resend.com" # Your SMTP server host
SMTP_PORT="587" # Your SMTP server port
SMTP_USER="resend" # Your SMTP server username
SMTP_PASS="" # Your SMTP server password
